.jumbotron {
background-color:white;
text-align: center;
color:red;
}

#formOne {
    margin:auto;
    width: 50%;
    text-align:center;
    color:red;
}

#result {
    display:none;

}

.speech-bubble {
    display:none;
	position: relative;
	background: #DC3545;
    border-radius: .4em;
    padding: 15px;
    margin:15px;
    color:black;
    font-size: 25px;
}

body {
    background: black;
}
